@import '../../scss/mixin';
@import '../../scss/variables';
.siderbar {
     background-image: none;
      background-color: #141414;;
       color:#0078C2;
       align-items: center;
       height: 100vh;
       display: flex;
       justify-content: space-around;
       flex-direction: column;
       flex-wrap: wrap;
      overflow-y: auto;
      position: relative;
      z-index: 10;
      
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    
   }
   &__icon-radius {
    position: relative;
    width: 32px;
    height: 32px;
    left: 3px;
    top: 1px;
    background: gray;
    border-radius: 16px;
    &-after{
        background-color:#0078C2;
       } 
   }
    &__main-container {
        display: flex;
        position: relative;
      
    }
    
    &__icon {
        width: 42px;
        height: 40px;
        margin-top: 7px;
        margin-left: 7px;
   }
    &__logo {
        display: none;
        @include mq(xs) {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          padding: 2em;
    
          &--img {
            width: 80%;
            max-width: 160px;
          }
        }
    }
    &__link {
        font-family:'Poppins';
        margin-top: 40px;
        font-weight: 600;
        display: flex;
        color: gray;
        padding: 5px 45px;
       &-after{
        color: white;
       } 
    }
    &__link:hover > .siderbar__icon-radius{
      background-color: #0078C2;
    }
    &__link:hover{
       color: white;
    }
    &__top_section  {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
    }
    &__routes{
        font-weight: 600;
        size: 14px;
        display: flex;
        line-height: 15.46px;
        letter-spacing: 0.3px;
        flex-direction: column;

    }
    &__link_text{
        padding-left: 20px;
    }
}